{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'sticky-footer.css' %}">
    <link rel="stylesheet" href="{% static 'sticky-footer-navbar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
		#cssmenu {
			position: relative;
			top: 10px;
			margin: auto;
		}
	</style>
</head>
<body>
<div class="container" >
<div class="content">
        <div id="cssmenu">
	        <ul>
                <li><a href="{% url 'home'%}">Home</a></li>
                <li>
                    <a href="{% url 'persons_list' %}">Clientes</a>
                    <ul>
                        <li><a href="#">Widgets</a></li>
                        <li>
                            <a href="#">Widgets 2</a>
                            <ul>
                                <li><a href="#">Plugins</a></li>
                                <li><a href="#">Extensions</a></li>
                                <li><a href="#">Modules</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Another Widget</a></li>
                    </ul>
                </li>
                <li><a href="#">Sobre</a></li>
		        <li style="float:right"><a href="#" >
             <p>
                    {% if user.is_authenticated %}
                <!--<div class="alert alert-info">-->
                    <!--<strong></strong> {{ user.username}}.-->
                <!--</div>-->

                <a href="{% url 'logout' %}">Sair</a>
                {% else %}

                <a href="{% url 'login' %}">Entrar</a>
                {% endif %}
                </p>
            </a>    </li>
	</ul>
</div>


</div>
    <div class="jumbotron text-center">

        <p><h1>Sistema Web usando Django</h1>App para gestão de pessoas</p>

    </div>



    {% block main %} {% endblock %}

</div>

{% block footer %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script src="{% static 'menumaker.js' %}"></script>
<script type="text/javascript">
	$("#cssmenu").menumaker({
		title: "Menu",
		format: "multitoggle"
	});
</script>
</body>
</html>





