{% extends 'base.html' %}

{% block title%}PageDelete{% endblock %}

{% block main %}
<h3 class="md">Você deseja deletar o ID {{person.id}} ?</h3>
<nav class="navbar navbar-expand-sm bg-light">
        <p>Sair do Sistema<span class="badge badge-light"><i class="fas fa-sign-out-alt"></i>
            <a href="{% url 'logout' %}">Sair</a></span></p>
    </nav>
<form action="{% url 'persons_delete' person.id %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}

    <ul>
        <li><i class="fas fa-user-minus" ></i><span style=" margin: 0 0 10px 10px">{{ person.first_name }}</span></li>
    </ul>
    <div class="btn-group">
        <button type="submit" class="btn btn-outline-danger"></i> Deletar</button>
    <a href="{% url 'persons_list' %}" class="btn btn-outline-warning">Cancel</a>
    </div>
</form>
{% endblock %}

{% block footer %}
<footer class="footer">
      <div class="container">
        <center><span class="text-muted">Daniel de Almeida: Full Stack developer</span></center>
      </div>
    </footer>
{% endblock %}