{% extends 'base.html' %}

{% block title%}PageDelete{% endblock %}

{% block main %}
<h3 class="md">Você deseja deletar o ID {{person.id}} ?</h3>
<form action="{% url 'persons_delete' person.id %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}

    <ul>
        <li>{{ person.first_name }}</li>
    </ul>
    <div class="btn-group">
        <button type="submit" class="btn btn-outline-danger">Deletar</button>
    <a href="{% url 'persons_list' %}" class="btn btn-outline-warning">Cancel</a>
    </div>
</form>
{% endblock %}