{% load static%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<h3 class="md">Você deseja deletar o ID {{person.id}} ?</h3>
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
    <ul>
        <li>{{ person.first_name }}</li>
    </ul>
    <button type="submit">Deletar</button>

</form>
</body>
</html>